<div class="login-form">
  <form class="sign-in-htm" *ngIf="!isLoggedIn"
       name="form"
       #f="ngForm"
       (ngSubmit)="f.form.valid && onSubmit()"
       novalidate>
    <div class="group">
      <label id="username" class="label">Username</label>
      <input
        type="text"
        class="input"
        name="username"
        [(ngModel)]="form.username"
        required
        #username="ngModel"
      />
      <div
        class="amt-red"
        role="alert"
        *ngIf="username.errors && f.submitted"
      >
        Username is required!
      </div>
    </div>

    <div class="group">
      <label id="password">Password</label>
      <input
        type="password"
        class="input"
        name="password"
        [(ngModel)]="form.password"
        required
        minlength="6"
        #password="ngModel"
      />
      <div
        class="amt-red"
        role="alert"
        *ngIf="password.errors && f.submitted"
      >
        <div *ngIf="password.errors?.required">Password is required</div>
        <div *ngIf="password.errors.minlength">
          Password must be at least 6 characters
        </div>
      </div>
    </div>

    <div class="group">
      <input type="submit" class="button" value="Sign In">
    </div>

    <div
      class="amt-red"
      role="alert"
      *ngIf="this.errorMessage!= null && f.submitted">
      <div>
        {{this.errorMessage}}
      </div>
    </div>


  </form>
</div>

